*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar component */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3c78e0;
    color: #f2f4f7;
}

.navbar__title {
    font-weight: 800;
    margin: 16px 0 16px 50px;
    cursor: pointer;
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    min-width: 250px;
    align-items:center;
}

.navbar__list-item{
    color: inherit;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar__list-item:hover{
    color: #21232a;
    transition: 0.5s;
    cursor: pointer;
}


/* ItemListContainer example*/

.container-example {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CountContainer example */

.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 150px;
}

.count-container__title {
    font-size: 1.3rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 20px;
    padding: 13px 15px;
    border:  1px solid gray;

}

.controls__button {
    width: 20px;
    height: 25px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3c78e0;
    cursor: pointer;
    line-height: 20px;
}

.controls__text {
    font-size: 1.2rem;
}

.confirm-button {
    border: none;
    outline: #3c78e0 solid 1px;
    padding: 8px 30px;
    color: #3c78e0;
    cursor: pointer;
}