*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

/* Navbar component */

.navbar {
    display: flex;
    justify-content: space-around;
    min-width: fit-content;
}

.navbar__title {
    font-size: 3rem;
    text-decoration: none;
    line-height: 75px;
    color: black;
}

.navbar__list {
    display: flex;
    justify-content: space-between;

}

.navbar__list-item {
    margin-left: 45px;
    line-height: 75px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
}

.navbar__shopping-cart{
    color: #5494f3;
}


/* ItemListContainer example*/

.loading {
    text-align: center;
}

.home__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
}

.home__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
}

.home__description-title{
    font-size: 3rem;
}

.home__description-title-span{
    display: block;
}

.home__description-text{
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 600;

}

.home__description-text-emphasis{
    color: #5494f3;
}


.home__container-image{
    max-width: 50vw;
}

.container-example {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 30px;
    margin-top: 50px;
    padding: 0 50px;
}


/* CountContainer example */

.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 80px;
}

.count-container__title {
    font-size: 1.2rem;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 20px;
    padding: 13px 15px;
    border:  1px solid gray;

}

.controls__button {
    width: 20px;
    height: 25px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3c78e0;
    cursor: pointer;
    line-height: 20px;
}

.controls__text {
    font-size: 1.2rem;
}

.confirm-button {
    border: none;
    outline: #3c78e0 solid 1px;
    padding: 8px 30px;
    width: 120px;
    color: #3c78e0;
    cursor: pointer;
}

.info-button {
    border: none;
    outline: #4feb34 solid 1px;
    padding: 8px 25px;
    width: 120px;
    color: #3c78e0;
    cursor: pointer;
}

/* card container */

.item-links{
    color: black;
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}


.card-container:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
  }


.card-container__title {
    font-size: 1.3rem;
    margin-top: 25px;
}

.card-container__picture {
    max-width: 100%;
    width: 25vw;
}


.card-container__description{
    font-size: 1.2rem;
    line-height: 1.5em;
    max-width: 35ch;
    overflow: hidden;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-container__price{
    font-size: 1.4rem;
}
.card-container__price, .card-container__description {
    font-weight: 600;
}


/* Cart component */

.cart__button {
    margin: 15px auto 0;

}

.cart__empty {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__empty-id, .cart__empty-title{
    margin-bottom: 15px;
}

 .cart__title, .cart__button, .cart__empty-title {
   display: flex;
   justify-content: center;
   min-width: max-content;
}

.cart__cards-container {
    margin-top: 15px;
}


.cart__empty-link {
    color: #3c78e0;
    text-decoration: none;
    margin-top: 15px;
    padding-right: 5px;
    font-size: 2rem;
}

.cart__empty-arrow{
font-size: 1.7rem;
}

.cart__empty-back {
    margin-left: 5px;
}

.cart__empty-link:hover{
    color: #21232a;
    transition: 0.5s;
}


/* OrderDetail */

.order__card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.products {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}
.products__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    margin-bottom: 15px;
}